@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 0));
}
main {
    background-color: rgb(150, 147, 147);
    border-radius: 10px;
    box-shadow: 5px 5px 15 px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: green;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(12, 114, 3);
}
h2 {
    color: yellow;
}
p {
    text-align: justify;
}